@import "tailwindcss";

/* 
Tło: bg-amber-50
Tekst główny: text-stone-800
Akcent główny: bg-red-600
Akcent drugorzędny: bg-green-700

Buttons
Default: bg-red-600 text-white hover:bg-red-700
Hover: hover:bg-red-700 hover:shadow-md
Active: active:bg-red-800
Disabled: bg-red-400 text-white cursor-not-allowed
Box-Shadow: shadow-md shadow-red-300/40

Gradient
bg-gradient-to-r from-red-500/60 to-amber-600/60

Navbar
Bg: bg-stone-800
Shadow: shadow-lg shadow-stone-900/30
Icons:  text-amber-100 hover:text-white active:text-white

Dropdown menu
Bg: bg-stone-700
Text: text-amber-100
Hover: hover:bg-stone-600 hover:text-white
*/

@theme {
  --font-header: "Raleway", sans-serif;
  --font-body: "Nunito", sans-serif;
  --font-accent: "Caveat", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292524;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: oklch(0.987 0.022 95.277);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.layout-height {
  min-height: calc(100dvh);
}

.grid-layout {
  grid-template-rows: 1fr max-content;
}

.menuOpen {
  transform: translateY(100%);
}

.menuClose {
  transform: translateY(0%);
}

.hero-height {
  min-height: calc(100dvh - 52px);
}

.pizza-card + .pizza-ingridents {
  opacity: 0;
  pointer-events: none;
  visibility: none;

  transition: opacity 0.4s;
}

.pizza-card:hover + .pizza-ingridents {
  opacity: 1;
  visibility: visible;
}

.pizza-card:focus-within + .pizza-ingridents {
  opacity: 1;
  visibility: visible;
}

.select__control {
  background-color: oklch(0.987 0.022 95.277) !important;
  border-color: oklch(0.987 0.022 95.277) !important;
  color: #292524 !important;
  box-shadow: 0 0 0 1px oklch(0.987 0.022 95.277) !important;
  cursor: pointer !important;

  font-size: 18px !important;
  font-weight: 600 !important;

  transition: all 0.3s;
}

.select__control:focus-within {
  outline-offset: 2px !important;
  outline-width: 2px !important;
  outline-style: solid !important;
  outline-color: oklch(0.987 0.022 95.277) !important;
}

.select__single--value,
.css-1dimb5e-singleValue,
.css-1xc3v61-indicatorContainer,
.css-1nmdiq5-menu {
  color: #292524 !important;

  font-size: 18px !important;
  font-weight: 600 !important;
}

.css-1nmdiq5-menu {
  background-color: oklch(0.987 0.022 95.277) !important;
}

.css-1u9des2-indicatorSeparator {
  background-color: #292524 !important;
}

.select__option {
  cursor: pointer !important;
}

.select__option:hover,
.select__option--is-focused,
.select__option--is-selected,
.select__multi-value {
  background-color: #292524 !important;
  color: oklch(0.987 0.022 95.277) !important;
}

.select__multi-value {
  border-radius: 6px !important;
}

.select__multi-value__label,
.select__multi-value__remove {
  color: oklch(0.987 0.022 95.277) !important;
}

.select__multi-value__label {
  padding: 6px !important;
  padding-left: 9px !important;
}

.cart_hover {
  top: calc(100% + 12px);
  right: -12px;

  display: none;
}

.cart_button:hover .cart_hover {
  display: block;
}
